@import "tailwindcss";



@keyframes pulseOnline {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.8;
  }
}

.online-pulse {
  animation: pulseOnline 1.2s infinite ease-in-out;
}
